$bar-color: #b8c2cc !default;
$bar-stroke: #8d99a6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f5f5f5 !default;
$light-border-color: #ebeff2 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$blue: #a3a3ff !default;
$handle-color: #ddd !default;
$stroke-color: #737373 !default;

.gantt {
    .grid-background {
        fill: none;
    }
    .grid-header {
        fill: #ffffff;
        stroke: $border-color;
        stroke-width: 1.4;
    }
    .grid-row {
        fill: #ffffff;
    }
    .grid-row:nth-child(even) {
        fill: $light-bg;
    }
    .row-line {
        stroke: $light-border-color;
    }
    .tick {
        stroke: $stroke-color;
        stroke-width: 0.2;
        &.thick {
            stroke-width: 0.2;
        }
    }
    .today-highlight {
        fill: $light-yellow;
        opacity: 0.5;
    }

    .arrow {
        fill: none;
        stroke: $text-muted;
        stroke-width: 1.4;
    }

    .bar {
        // fill: transparent;
        // stroke: $bar-stroke;
        // stroke-width: 0;
        transition: stroke-width 0.3s ease;
        user-select: none;
    }
    // .bar-progress {
    //     // fill: $blue;
    // }
    .bar-invalid {
        fill: transparent;
        stroke: $bar-stroke;
        stroke-width: 1;
        stroke-dasharray: 5;

        // & ~ .bar-label {
        //     // fill: $text-light;
        // }
    }
    .bar-label {
        // fill: #fff;
        dominant-baseline: central;
        text-anchor: middle;
        font-size: 12px;
        font-weight: lighter;

        &.big {
            // fill: $text-light;
            text-anchor: start;
        }
    }

    .handle {
        fill: $handle-color;
        opacity: 0;
        overflow: scroll;
        transition: opacity 0.3s ease;
    }
    .milestones {
        overflow: scroll;
    }
    .bar-wrapper {
         overflow: auto;

        &:hover {
            .bar {
                // fill: darken($bar-color, 5);
            }

            .bar-progress {
                // fill: darken($blue, 5);
            }

            .handle {
                visibility: visible;
                opacity: 1;
            }
        }

        // &.active {
        //     .bar {
        //         // fill: darken($bar-color, 5);
        //     }

        //     .bar-progress {
        //         // fill: darken($blue, 5);
        //     }
        // }
    }

    .lower-text,
    .upper-text {
        font-size: 12px;
        text-anchor: middle;
    }
    .upper-text {
        fill: $text-light;
    }
    .lower-text {
        fill: $text-color;
    }

    .hide {
        display: none;
    }
}

::-webkit-scrollbar-thumb{
    color: #27a7ce;
}

.gantt-container {
    position: relative;
    overflow: auto;
    font-size: 12px;

    .popup-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        padding: 0;
        color: white;
        border-radius: 3px;
        border: 1px solid black;
        font-size: smaller;
        border-radius: 5px;
        .title {
            // border-bottom: 3px solid $blue;
            padding: 10px;
        }
        th,
        td {
            white-space: nowrap;
        }
        .subtitle {
            padding: 10px;
            // color: #dfe2e5;
        }

        .pointer {
            position: absolute;
            height: 5px;
            margin: 0 0 0 -5px;
            border: 5px solid transparent;
            border-top-color: rgba(0, 0, 0, 0.8);
        }
    }

    .swimlane {
            overflow-x: visible;

    }
}

.gantt-swimlanes-container {
    position: relative;
    overflow-x: visible;
    font-size: 12px;
    float: left;

    .gantt-swimlanes {
        .swimlanes-header {
            fill: #ffffff;
            stroke: $border-color;
            stroke-width: 1.4;
    overflow-x: visible;

        }

        .swimlanes-background {
            fill: #ffffff;
            stroke: $border-color;
            stroke-width: 1.4;
    overflow-x: visible;

        }

        .separ {
            stroke: $light-border-color;
    overflow-x: visible;

        }

        .swimlane {
            .swimlane-label {
                padding: 10px;
               
            }
            .swimlane-row {
                fill: #ffffff;
                stroke: $border-color;
                stroke-width: 1.4;
            }
            .swimlane-icon {
        
                font-size: medium;
            }

            .sub-swimlane {
                .sub-swimlane-label {
                    padding: 10px;
                    overflow: scroll;
                }

                .sub-swimlane-row {
                   
                    overflow: visible;
                }
            }
        }
    }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 2, 2);
}

.rect{
    overflow-x: scroll;
}

/* Handle on hover */

// .wrapper1, .wrapper2{width: 100%; border: none 0px RED;
// overflow-x: scroll; overflow-y:hidden;}
// .wrapper1{height: 2px; }
// .wrapper2{height:100%; }
// .div1 {width:100%; height:2px; }
// .div2 {width:100%; height: 100%; background-color: #88FF88;
// overflow: auto;}